server {
    listen 80;
    server_name localhost;
    root /var/www/html;
    index index.html index.htm;

    set $CSP_DEFAULT "default-src 'self' https:";
    set $CSP_IMG "img-src 'self' data: blob: https:";
    set $CSP_STYLE "style-src 'self' 'unsafe-inline'";
    set $CSP_FONT "font-src 'self' https:";
    set $CSP_SCRIPT "script-src 'self' 'unsafe-eval' 'unsafe-inline' https:";
    set $CSP_CONNECT "connect-src 'self' blob: https:";
    set $CSP_MEDIA "media-src 'self' blob: https:";
    set $CSP_OBJECT "object-src 'none'";
    set $CSP_WORKER "worker-src blob:";
    set $CSP_CHILD "child-src blob:";
    set $CSP_FRAME "frame-src 'self' https:";
    set $CSP_ANCESTORS "frame-ancestors 'self' https:";
    add_header Content-Security-Policy "${CSP_DEFAULT}; ${CSP_IMG}; ${CSP_STYLE}; ${CSP_FONT}; ${CSP_SCRIPT}; ${CSP_CONNECT}; ${CSP_MEDIA}; ${CSP_OBJECT}; ${CSP_WORKER}; ${CSP_CHILD}; ${CSP_FRAME}; ${CSP_ANCESTORS}";

    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";

    location / {
        try_files $uri @prerender;
        autoindex on;
        ssi on;
        set $vue_app_languages "${VUE_APP_LANGUAGES}";
        set $vue_app_api_url "${VUE_APP_API_URL}";
        set $vue_app_zoho_endpoint "${VUE_APP_ZOHO_ENDPOINT}";
    }

    location /qr-events {
        return 301 https://www.fk3.co.uk/client-work/CASEVENTQR/;
    }

    location /docs {
        return 301 https://docs.casperlabs.io;
    }

    location /accelerate {
        return 301 https://casper.network/en-us/lp/accelerate-grant-program;
    }

    location /en-us/articles/caspers-guide-to-blockchain-development {
        return 301 https://casper.network/en-us/web3/blockchain/caspers-guide-to-blockchain-development/;
    }

    location /en-us/articles/the-enterprise-blockchain {
        return 301 https://casper.network/en-us/web3/blockchain/enterprise-blockchain/;
    }

    location /en-us/web3/blockchain/the-enterprise-blockchain {
            return 301 https://casper.network/en-us/web3/blockchain/enterprise-blockchain/;
        }

    location /en-us/articles/the-future-of-blockchain-is-the-future-of-the-internet {
        return 301 https://casper.network/en-us/web3/blockchain/the-future-of-blockchain-is-the-future-of-the-internet/;
    }

    location /en-us/articles/a-guide-to-smart-contracts-on-the-blockchain {
        return 301 https://casper.network/en-us/web3/blockchain/a-guide-to-smart-contracts-on-the-blockchain/;
    }

    location /en-us/articles/a-guide-to-blockchain-architecture {
        return 301 https://casper.network/en-us/web3/blockchain/a-guide-to-blockchain-architecture/;
    }

    location /en-us/articles/a-quick-guide-to-blockchain-use-cases {
        return 301 https://casper.network/en-us/web3/blockchain/use-cases/;
    }

    location /en-us/articles/how-blockchain-technology-can-improve-supply-chains {
        return 301 https://casper.network/en-us/web3/blockchain/use-cases/supply-chain/;
    }

    location /en-us/articles/blockchain-in-the-healthcare-industry {
        return 301 https://casper.network/en-us/web3/blockchain/use-cases/healthcare/;
    }

    location /en-us/articles/blockchain-technology-in-real-estate {
        return 301 https://casper.network/en-us/web3/blockchain/use-cases/real-estate/;
    }

    location /en-us/articles/blockchain-in-accounting {
        return 301 https://casper.network/en-us/web3/blockchain/use-cases/accounting/;
    }

    location /en-us/articles/blockchain-and-the-insurance-industry {
        return 301 https://casper.network/en-us/web3/blockchain/use-cases/insurance/;
    }

    location /en-us/articles/implementing-blockchain-technology-in-the-financial-sector {
        return 301 https://casper.network/en-us/web3/blockchain/use-cases/finance/;
    }

    location /en-us/articles/proof-of-stake-explained {
        return 301 https://casper.network/en-us/web3/pos/;
    }

    location /en-us/articles/proof-of-work-vs-proof-of-stake {
        return 301 https://casper.network/en-us/web3/pos/proof-of-work-vs-proof-of-stake/;
    }

    location /en-us/articles/proof-of-stake-energy-consumption {
        return 301 https://casper.network/en-us/web3/pos/proof-of-stake-energy-consumption/;
    }

    location /en-us/articles/an-experts-guide-to-byzantine-fault-tolerance {
        return 301 https://casper.network/en-us/web3/pos/byzantine-fault-tolerance/;
    }

    location /sitemap.xml  {
        proxy_pass https://backend.casper.network/cce/sitemap;
    }

    location @prerender {
        ssi on;
        set $prerender 0;
        if ($http_user_agent ~* "googlebot|bingbot|yandex|baiduspider|twitterbot|facebookexternalhit|rogerbot|linkedinbot|embedly|quora link preview|showyoubot|outbrain|pinterest\/0\.|pinterestbot|slackbot|vkShare|W3C_Validator|whatsapp") {
            set $prerender 1;
        }
        if ($args ~ "_escaped_fragment_") {
            set $prerender 1;
        }
        if ($http_user_agent ~ "Prerender") {
            set $prerender 0;
        }
        if ($uri ~* "\.(js|css|xml|less|png|jpg|jpeg|gif|pdf|doc|txt|ico|rss|zip|mp3|rar|exe|wmv|doc|avi|ppt|mpg|mpeg|tif|wav|mov|psd|ai|xls|mp4|m4a|swf|dat|dmg|iso|flv|m4v|torrent|ttf|woff|svg|eot)") {
            set $prerender 0;
        }

        #resolve using Google's DNS server to force DNS resolution and prevent caching of IPs
        resolver 8.8.8.8;

        if ($prerender = 1) {
            #setting prerender as a variable forces DNS resolution since nginx caches IPs and doesnt play well with load balancing
            set $prerender "${VUE_APP_PRERENDER_URL}";
            rewrite .* /https://$host$request_uri? break;
            proxy_pass $prerender;
        }
        if ($prerender = 0) {
            rewrite .* /index.html break;
        }
    }
}


